<h1>退会 <i class="fas fa-door-open"></i></h1>
<h1>ほんまに退会するんでっか？</h1>
<p>わてらかてボランティアでやってるんとちゃいまんねん、今抜けられてしもーたら会員情報、今までの購入履歴が見れんくなってまうけどええんやな？あと、夜道には十分に気ーつけや、うちの若いもんは血の気の多いさかいに何しでかすか分かったもんやあらへん。
それでも抜ける言うんやったら好きにしーや、そこの退会ボタン押しええねんおすすめはせんけどな。</p>
<a><%= link_to '退会しない', customers_fix_path, class:"btn btn-primary" %></a>

   <a><%= link_to "退会", customers_withdraw_path(current_customer), method: :put, "data-confirm" => "もう最後やで、ほんまに退会するんか？", class:"btn btn-danger" %></a>