<div class="container">
  <div class="row">
<%= render 'layouts/sidebar' %>
    <div class="col-xs-9">
     <div class="index-body">
      <h2>商品一覧</h2><p>全※件</p>
      <% @products.each do |product| %>
      <%= attachment_image_tag product.product, :product_picture, format:'jpeg', size:"50x50",fallback: "no-image-mini.jpeg" %>
           <%= link_to product.name %>
           <%= link_to product.price %>
           <% end %>

     </div>
     </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-m-4" id="sticky-sidebar">
      Sidebar
    </div>
    <div class="col-m-8" id="main">
      Main Area
    </div>
  </div>
</div>
     