<div class="container">
  <div class="row">
<%= render 'layouts/sidebar' %>
    <div class="col-xs-9">
     <div class="main-body">
    	<!-- ここに画像を背景にする -->
    	<p>ようこそ、NaganoCakeへ！</p>
    	<p>このサイトは、ケーキ販売のECサイトになります。</p>
    	<p>会員でない方も商品の閲覧はできますが、</p>
    	<p>購入には会員登録が必要になります。</p>

   　<h2>オススメ商品</h2>
　　　<p>※商品画像</p>
     <p>※商品名</p>
     <p>※商品価格</p>

     <% link_to "もっと見る>", "/products/index" %>
     </div>
     </div>
  </div>
</div>