<div>
  <h3>支払方法</h3>
	<%= form_for @order_list, customers_order_list_confirm_path(order_list.id),method: :POST do |f| %>
	<div class="field">
      <label>
    	<%= f.radio_button :payment_method, "クレジットカード" %>クレジットカード
      </label>
      <label>
        <%= f.radio_button :payment_method, "銀行振込" %>銀行振込
      </label>
      <!-- f.radio_button カラム名, 実際にテーブルに登録する値%>選択肢に表示する文字 -->
  	 </div>

  <h3>お届け先</h3>
 	 <div class="field">
 	 	
  	 </div>
</div>