<div class="col-xs-2">
  <div class="sidebar">

	  <h3 class="genre-title">ジャンル</h3>
	  <% @genres.each do |genre| %>
	  <div><a href="<%=  customers_product_genre_path(genre.id) %>"><%= genre.genre %></a></div>
	  <% end %>

  </div>
</div>