<div class="col-xs-3">
 <div class="sidebar">

	<h3>ジャンル検索</h3>
	<ul>
	<li><%= link_to "ケーキ","/products_junre/1" %></li>
	<li><%= link_to "焼き菓子","/products_junre/2" %></li>
	<li><%= link_to "プリン","/products_junre/3" %></li>
	<li><%= link_to "キャンディ","/oriducts_junre/4" %></li>
	</ul>
 </div>
</div>

